* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  .analysis {
    z-index: 111;
    left: 30px;
    top: 30px;
    position: absolute;
    color: rgb(0, 255, 42);
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    // animation-name: hack;
    animation-duration: 10s;

    @keyframes hack {
      0% {
        opacity: 100%;
      }
      5% {
        opacity: 20%;
      }
      10% {
        opacity: 100%;
      }
      25% {
        opacity: 10%;
      }
      30% {
        opacity: 100%;
      }
      42% {
        opacity: 42%;
      }
      50% {
        opacity: 100%;
      }
      60% {
        opacity: 100%;
      }
      75% {
        opacity: 20%;
      }
      78% {
        opacity: 100%;
      }
      85% {
        opacity: 10%;
      }
      90% {
        opacity: 100%;
      }
      92% {
        opacity: 42%;
      }
      100% {
        opacity: 100%;
      }
    }

    .study {
      display: flex;
      flex-direction: column;
      .readingpart {
        display: flex;
      }
      h1 {
        font-size: 1rem;
        color: rgb(0, 255, 42);
        font-family: "Courier New", Courier, monospace;
      }
      p {
        padding: 0 10px;
      }
      .reading {
      }
    }
    .takebreak {
      .breakingpart {
        display: flex;
      }
      h1 {
        color: rgb(0, 255, 42);
        font-family: "Courier New", Courier, monospace;
        font-size: 1rem;
      }
      .breaking {
      }
      p {
        padding: 0 10px;
      }
    }
    .goal-time {
      display: flex;
      flex-direction: column;
      h1 {
        color: rgb(0, 255, 42);
        font-family: "Courier New", Courier, monospace;
        font-size: 1rem;
      }
      .goal-part {
        display: flex;
        p {
          padding: 0 10px;
        }
      }
    }
  }
}

@mixin ana {
  .analysis {
    left: 30px;
    top: 30px;
    position: absolute;
    color: rgb(0, 255, 42);
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    // animation-name: hack;
    animation-duration: 10s;

    @keyframes hack {
      0% {
        opacity: 100%;
      }
      5% {
        opacity: 20%;
      }
      10% {
        opacity: 100%;
      }
      25% {
        opacity: 10%;
      }
      30% {
        opacity: 100%;
      }
      42% {
        opacity: 42%;
      }
      50% {
        opacity: 100%;
      }
      60% {
        opacity: 100%;
      }
      75% {
        opacity: 20%;
      }
      78% {
        opacity: 100%;
      }
      85% {
        opacity: 10%;
      }
      90% {
        opacity: 100%;
      }
      92% {
        opacity: 42%;
      }
      100% {
        opacity: 100%;
      }
    }

    .study {
      display: flex;
      flex-direction: column;
      .readingpart {
        display: flex;
      }
      h1 {
        font-size: 1rem;
        color: rgb(0, 255, 42);
        font-family: "Courier New", Courier, monospace;
      }
      p {
        padding: 0 10px;
      }
      .reading {
      }
    }
    .takebreak {
      .breakingpart {
        display: flex;
      }
      h1 {
        color: rgb(0, 255, 42);
        font-family: "Courier New", Courier, monospace;
        font-size: 1rem;
      }
      .breaking {
      }
      p {
        padding: 0 10px;
      }
    }
  }
}
.container {
  width: 100%;
  height: 100vh;
  background: rgb(216, 55, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  .audio {
    visibility: hidden;
  }
  @include ana;
  // .analysis {
  //   left: 30px;
  //   top: 30px;
  //   position: absolute;
  //   color: rgb(0, 255, 42);
  //   font-family: "Courier New", Courier, monospace;
  //   font-size: 1rem;
  //   display: flex;
  //   flex-direction: column;
  //   // animation-name: hack;
  //   animation-duration: 10s;

  //   @keyframes hack {
  //     0% {
  //       opacity: 100%;
  //     }
  //     5% {
  //       opacity: 20%;
  //     }
  //     10% {
  //       opacity: 100%;
  //     }
  //     25% {
  //       opacity: 10%;
  //     }
  //     30% {
  //       opacity: 100%;
  //     }
  //     42% {
  //       opacity: 42%;
  //     }
  //     50% {
  //       opacity: 100%;
  //     }
  //     60% {
  //       opacity: 100%;
  //     }
  //     75% {
  //       opacity: 20%;
  //     }
  //     78% {
  //       opacity: 100%;
  //     }
  //     85% {
  //       opacity: 10%;
  //     }
  //     90% {
  //       opacity: 100%;
  //     }
  //     92% {
  //       opacity: 42%;
  //     }
  //     100% {
  //       opacity: 100%;
  //     }
  //   }

  //   .study {
  //     display: flex;
  //     flex-direction: column;
  //     .readingpart {
  //       display: flex;
  //     }
  //     h1 {
  //       font-size: 1rem;
  //       color: rgb(0, 255, 42);
  //       font-family: "Courier New", Courier, monospace;
  //     }
  //     p {
  //       padding: 0 10px;
  //     }
  //     .reading {
  //     }
  //   }
  //   .takebreak {
  //     .breakingpart {
  //       display: flex;
  //     }
  //     h1 {
  //       color: rgb(0, 255, 42);
  //       font-family: "Courier New", Courier, monospace;
  //       font-size: 1rem;
  //     }
  //     .breaking {
  //     }
  //     p {
  //       padding: 0 10px;
  //     }
  //   }
  // }

  .parfullcontainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    left: 0;
    position: absolute;
    .try {
      font-size: 4rem;
      color: white;
      font-weight: bold;
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif;
    }
    .parcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .zero {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 2rem;
      }
      .parcentage {
        margin-right: 20px;
        border-radius: 15px;
        width: 100px;
        height: 190px;
        background: white;
        padding: 10px;

        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .step {
          margin: 2px 0;
          width: 100%;
          height: 15px;
          background: rgb(248, 51, 51);
        }
        .stepgreen {
          background: rgb(50, 177, 50);
        }
      }
      .hundrate {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
      }
    }
  }

  .main {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
    background: rgb(255, 103, 52);
    border-radius: 10px;
    h1 {
      padding: 30px 0;
      color: white;
      font-size: 3rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .btn {
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1rem;
      color: white;
      padding: 10px;
      background: rgb(252, 105, 56);
    }
    .active,
    .btn:hover {
      cursor: pointer;
      background: rgb(201, 85, 46);
    }
  }
  .count {
    display: flex;
    h2 {
      font-size: 7rem;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      padding: 50px 0;
    }
    span {
      font-size: 7rem;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      padding: 50px 0;
    }
  }
  .start {
    button {
      width: 400px;
      height: 70px;
      background: rgb(131, 1, 143);
      border: none;
      border-radius: 25px;
      color: white;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    button:hover {
      cursor: pointer;
      background: rgb(235, 11, 255);
    }
  }
}
// short break
.shortBreak {
  width: 100%;
  height: 100vh;
  background: rgb(2, 184, 11);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  @include ana;

  .main {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
    background: rgb(126, 255, 52);
    border-radius: 10px;
    h1 {
      padding: 30px 0;
      color: white;
      font-size: 3rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .btn {
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1rem;
      color: white;
      padding: 10px;
      background: rgb(126, 255, 52);
    }
    .active,
    .btn:hover {
      cursor: pointer;
      background: rgb(160, 201, 46);
    }
  }
  .count {
    display: flex;
    h2 {
      font-size: 7rem;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      padding: 50px 0;
    }
    span {
      font-size: 7rem;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      padding: 50px 0;
    }
  }
  .start {
    button {
      width: 400px;
      height: 70px;
      background: rgb(94, 88, 90);
      border: none;
      border-radius: 25px;
      color: white;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    button:hover {
      cursor: pointer;
      background: rgb(145, 143, 143);
    }
  }
}
// long break
.longBreak {
  width: 100%;
  height: 100vh;
  background: rgb(2, 102, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;

  .main {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
    background: rgb(52, 140, 255);
    border-radius: 10px;
    h1 {
      padding: 30px 0;
      color: white;
      font-size: 3rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .btn {
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1rem;
      color: white;
      padding: 10px;
      background: rgb(52, 140, 255);
    }
    .active,
    .btn:hover {
      cursor: pointer;
      background: rgb(35, 118, 173);
    }
  }
  .count {
    display: flex;
    h2 {
      font-size: 7rem;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      padding: 50px 0;
    }
    span {
      font-size: 7rem;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      padding: 50px 0;
    }
  }
  .start {
    button {
      width: 400px;
      height: 70px;
      background: rgb(129, 143, 1);
      border: none;
      border-radius: 25px;
      color: white;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    button:hover {
      cursor: pointer;
      background: rgb(231, 255, 11);
    }
  }
}

.showshort {
  visibility: inherit;
  z-index: 10;
}
.showshort2 {
  visibility: inherit;
  z-index: 11;
}
